
	.bg {
        background-color: #e0f8ff!important;
        }
        .bg1{
        background:#fff0e5;
        }
        .navbar-dark .navbar-brand {
        color: #004c8e!important;
        font-size: 25px !important;
        font-weight: bold;
        }
        hr {
            margin-top: 0;
            margin-bottom: 0;
            border: 0;
            border-top: 1px solid rgba(0,0,0,.1);
        }
        .signin{
        background: linear-gradient(to bottom,#e0f8ff 0,#fff0e5 100%);
        padding: 100px 0px;
        }
        .myform {
            background: #FFF;
        padding: 50px;
        }
        .form-control {
        display: block;
        width: 100%;
        padding: 10px 20px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    
    
    #login .container #login-row #login-column #login-box {
        border: 1px solid aliceblue;
        background-color: #ffffff;
    }
    #login .container #login-row #login-column #login-box #login-form {
      padding: 20px;
    }
  
    
    
    .footer{
    padding:15px 0px;
        background:#0e425f !important;
        
    }
    .footer p {
        padding-bottom: 0px;
        color: #FFF;
        margin-bottom: 0px;
    }
    
    
    /*---- Hire -----*/
    .hiring{
    padding:50px 0px;
    }
 
    .hiring img {
        border-radius: 50%;
        height: 250px;
    }
    .percentage{
    font-size:50px;
    color:green;
    margin-right:15px;
    }
        p {
        font-size: 18px;
        }
    .media p {
        font-size: 18px;
        padding-top: 10px;
            color: green;
    }
    .how-works img {
        width: 475px;
        height: 300px;
        display: block;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    }