.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 15%;
}
    .nav-link-icon svg{
      vertical-align: bottom;
    }
.input-icon-addon{
  position: absolute;
    padding: 5px; 
}
.input-icon .form-control {
    display: block;
    width: 100%;
    padding: 7px 20px 7px 40px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.job-search{
	padding:10px 0px;
	background:#FFF;
	border-top:1px solid #CCC;
}
.job-search ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0px 15px;
}
.job-search ul li{
	display:inline-block;
}

.job-card:hover{
	box-shadow: 0 0 6px 0 #c5c5c5;
	}
	.job-card.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 25px 30px !important;
}
	.job-content span{
	font-size:14px;
	color:#000;
	}
	.job-content .card-title {
    margin-bottom: .75rem;
    color: #000 !Important;
}
	.job-content.card-text{
	color:#333 !Important;
	}
	.job-card a{
	color:#333;
	text-decoration:none !important;
	}
	.job-content i{
	font-size:14px;
	}
	.footer {
    border-top: 1px solid #e6e8e9;
    background-color: #fff;
    padding: 1rem 0;
    color: #656d77;
    margin-bottom: -1.25rem;
    margin-top: 1.25rem;
}
.footer{
  background-color: #f4f6fa;
}
.job-card{
  margin-bottom: 30px;
}
/*----- Profile -------*/

.home-profile img {
    width: 40px;
    margin-right: 10px;
    margin-left: 30px;
}
.home-profile .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
}
.home-profile .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.home-profile img {
    width: 40px;
    margin-right: 10px;
    margin-left: 30px;
}
.home-profile .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: transparent;
}
.home-profile .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}